.logo {
    background: #0000;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
        height: 40px;
    }

    span {
        font-weight: bold;
        font-size: 20px;
        color: #00c6de;
    }
}

.ant-layout {
    height: 100vh;
}

.nav_profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    height: 100%;
    gap: 10px;

    h5 {
        color: white;
        padding-right: 20px;
    }
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}

.page-container {
    border-radius: 20px;
    padding: 20px;

    .page-title {
        font-size: 24px;
        margin-bottom: 20px;

        &:before {
            content: "";
            width: 5px;
            height: 100%;
            display: block;
        }

    }
}
